# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfplan

# tfvars - Pipeline ke liye push karo
# terraform.tfvars  ← Comment out kiya

# Credentials - KABHI PUSH MAT KARO
*.pem
*.key
secrets/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
*.iml